original_code

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
ExportedObj/
*.tmp

!/[Aa]ssets/**/*.meta

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.vscode/
.idea/

AppPackages/
BundleArtifacts/
Generated/
*.appx
*.appxbundle
*.appxupload
*.cer

.DS_Store
Thumbs.db

sysinfo.txt
*.unitypackage